@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
#grit {
  background: url("../assets/grit.png");
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Lato";
  text-transform: lowercase;
  font-weight: 100;
  overflow-x: hidden;
}

body #her {
  font-size: 8em;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: .5s ease all;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: .75;
}

#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: .5s ease all;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  -webkit-filter: none;
          filter: none;
  transition: .2s .20s all ease;
}

#wrapper.clicked {
  opacity: 0.1;
}

#ho {
  width: 100%;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.25em;
  transition: .5s 1s all ease;
  margin-bottom: 20px;
}

#ikonWrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 140px;
  margin-top: 10px;
  transition: .5s .5s all ease;
}

#github {
  background: url("../assets/icon/github.svg");
  background-size: contain;
  transition: .2s all ease, 1.5s opacity ease;
}

#mail {
  background: url("../assets/icon/mail.svg");
  background-size: contain;
  transition: .2s all ease, 1.5s opacity ease;
}

#mailAdr {
  transition: .2s .2s ease all, .1s ease color;
  pointer-events: none;
  font-weight: 300;
}

#mailAdr.mailPos {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  pointer-events: auto;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ddd;
}

.ikon {
  height: 30px;
  width: 30px;
  transition: .2s ease all;
}

.ikon:hover {
  cursor: pointer;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.opacity {
  opacity: 1;
}

.nopacity {
  opacity: 0;
}

.red {
  background: #9a2016;
}

.blue {
  background: #2968b1;
}

.green {
  background: #40905e;
}

.gray {
  background: #464646;
}

#list ul {
  display: inline;
  padding: 0;
}

#list li {
  text-align: center;
  display: inline;
  letter-spacing: 0.2em;
  margin-right: 10px;
  font-size: 0.7em;
}

#list li:nth-last-of-type(1) {
  margin-right: 0;
}

#list li:hover {
  color: #ccc;
}

#menyTrigger {
  position: absolute;
  right: 20px;
  top: 0px;
  padding: 20px 5px 8px;
  width: 30px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  transition: .25s all ease;
  pointer-events: none;
}

#menyTrigger span {
  position: absolute;
  width: 30px;
  height: 0px;
  border-bottom: 1px solid WHITE;
  transition: .25s .05s ease all;
  opacity: 1;
}

#menyTrigger span:nth-child(2) {
  margin-top: 10px;
  transition-duration: 0.05s;
  transition-delay: 0;
}

#menyTrigger span:nth-child(3) {
  margin-top: 20px;
}

#menyTrigger span.opacity {
  pointer-events: auto;
}

#menyTrigger.clicked {
  -webkit-transform: rotate(-90deg) translateX(-7px) translateY(-8px);
      -ms-transform: rotate(-90deg) translateX(-7px) translateY(-8px);
          transform: rotate(-90deg) translateX(-7px) translateY(-8px);
}

#menyTrigger.clicked span:nth-child(1) {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(45deg) translateY(7px) translateX(7px);
      -ms-transform: rotate(45deg) translateY(7px) translateX(7px);
          transform: rotate(45deg) translateY(7px) translateX(7px);
}

#menyTrigger.clicked span:nth-child(2) {
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  opacity: 0;
}

#menyTrigger.clicked span:nth-child(3) {
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: rotate(-45deg) translateY(3px) translateX(2px);
      -ms-transform: rotate(-45deg) translateY(3px) translateX(2px);
          transform: rotate(-45deg) translateY(3px) translateX(2px);
}

#menyTrigger.hover span:nth-child(1) {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

#menyTrigger.hover span:nth-child(3) {
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}

#meny {
  background: rgba(150, 150, 150, 0.45);
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

#meny li {
  display: block;
  text-align: center;
  margin: 20px 0;
  font-size: 4em;
}

#meny li a {
  color: white;
  text-decoration: none;
}

#meny li a:hover {
  color: #ddd;
}

@media screen and (max-height: 600px) {
  #meny li {
    font-size: 3em;
    margin: 10px 0;
  }
}

#meny ul {
  padding: 0;
  margin: 0;
  transition: .25s .0s all ease;
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

#meny ul.clicked {
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}

#meny.clicked {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
