.aaher {
  width: 100vw;
  heigth: 100vh;
  transition: 0.2s all ease;
  font-size: 6em;
  padding: 0;
  color: white;
  font-family: "Yellowtail", sans-serif;
  text-transform: none;
  text-align: center;
  z-index: 1;
  margin: 0;
}
.aaher a {
  text-decoration: none;
  color: white;
}

.hei {
  margin: 100px 0 -75px 0;
}

button {
  z-index: 2;
}

body, html {
  overflow: hidden;
  margin: 0;
  pading: 0;
  background-color: #4096ee;
}

.container {
  position: absolute;
  text-align: center;
  top: calc(50% - 200px);
}
